server:
  port: 8081
spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 200MB
      max-request-size: 200MB
  datasource:
    name: learning
    username: root
    password: 123456
    url: jdbc:mysql://101.132.167.21:3306/learning?serverTimezone=UTC&useUnicode=true&characterEncoding=utf8
  redis:
    host: 127.0.0.1
    prot: 6379
    jedis:
      pool:
        max-active: 8
        max-wait: -1
        max-idle: 500
        min-idle: 0
  cache:
    type: redis
    redis:
      time-to-live: 6000
mybatis:
  mapper-locations: classpath:mapper/*.xml