<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luquanlin.learning.mapper.UserMapper">
    <select id="selectUsersRole" resultType="HashMap">
        select u.*,r.role_name from user u
          left join userrole ur on ur.user_id=u.user_id
          left join role r on r.role_id=ur.role_id
        where role_name!="管理员"
    </select>

    <update id="updateUserPassword">
        update user set user_password="123456" where user_id=#{user_id}
    </update>
</mapper>